# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/

# Build outputs
dist
dist-ssr
build/
out
.next
.nuxt
.cache
.parcel-cache
.vuepress/dist
.temp
.svelte-kit/
.docusaurus
.serverless/
.firebase/
.dynamodb/
.fusebox/
.cache/
coverage
.nyc_output
lib-cov

# Environment files
.env
.env.*
!.env.example

# OS / Editor files
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
.vscode-test
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node & tooling caches
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tsbuildinfo
*.tgz

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
